body {
	background-color: #111;
	text-shadow: 0 0 1px #111;
	color: #DDD;
	font-family: 'PlayRegular', 'arial', sans-serif;
	font-size: 21px;
	padding: 250px 25px 0 25px;
}
em {
	font-family: 'PlayBold', 'PlayRegular', 'arial', sans-serif;
	text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Molot', 'PlayRegular', 'arial', sans-serif;
	/*text-shadow: -1px -1px #111, 1px 1px #FFF;*/
}
h1 {
	font-size: 72px;
}
p {
	line-height: 28px;
	padding: 10px;
}

/*page one*/
#pg1 {
	width: 960px;
}
#pg1 h1 {
	float: left;
	padding-right: 25px;
	height: 300px;
}
