<%= render 'layouts/nav' %>
<div class="container">
  <%= render 'blogs/single', {blog: @blogs.first} %>
  <%= render 'blogs/list', {heading: 'Recent awesomeness', blogs: @blogs} %>
  <%= render 'videos/sidebar', {videos: @videos} %>
</div>