<!doctype html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Raw Median</title>
		<meta name="description" content="VISUAL MEDIA is the most powerful way for a business to gather attention. Raw Median is working to bring industry standard film production techniques to promote your endeavors. From MUSIC VIDEOS to COMMERCIALS and WEB DESIGN, we can help your project GET NOTICED." />
		<% if @id %>
		<meta property="og:site_name" content="Raw Median">
    <meta property="og:type" content="article">
    <meta property="og:title" content="culex">
    <meta property="og:description" content="When thoughts become reality, a young man takes control of his fate.   Written &amp; Directed by Tony Fabro VFX by Andrew McCall Cole Vigue- The Suit Brian Cyburt- The Shirt © 2012 RAW MEDIAN">
    <meta property="og:url" content="http://vimeo.com/41172201">
    <meta property="og:count" content="43">
    <meta property="og:image" content="http://b.vimeocdn.com/ts/285/003/285003890_640.jpg">
    <meta property="og:video" content="http://vimeo.com/moogaloop.swf?clip_id=41172201">
    <meta property="og:video:secure_url" content="https://vimeo.com/moogaloop.swf?clip_id=41172201">
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <meta property="og:video:width" content="640">
    <meta property="og:video:height" content="360">
		<% else %>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Raw Median" />
		<meta property="og:description" content="VISUAL MEDIA is the most powerful way for a business to gather attention. Raw Median is working to bring industry standard film production techniques to promote your endeavors. From MUSIC VIDEOS to COMMERCIALS and WEB DESIGN, we can help your project GET NOTICED." />
		<% end %>
		<link rel="stylesheet" href="/stylesheets/reset.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div id="sidebar">
			<h1>Raw<br />Median</h1>
			<ul id="mainNav">
				<li><a href="#mainWrapper" class="anchored active">Home</a></li>
				<br />
				<li><a href="#work" class="anchored">Work</a></li>
				<br />
				<li><a href="#contact" class="anchored">Contact</a></li>
			</ul>
		</div>
		<div id="mainWrapper">
			<div id="content">
				<div class="page">
					<p id="tagline"><em>VISUAL MEDIA</em> IS THE MOST POWERFUL WAY FOR A BUSINESS TO GATHER ATTENTION</p>
					<hr />
					<p id="secondTagline">Raw Median is working to bring industry standard film production techniques to promote your endeavors.</p>
					<a id="continue" class="anchored" href="#work">
						<div class="play-button-wrapper">
							<div class="play-button"></div>
						</div>
						<p>click here to continue to our work</p>
					</a>
				</div>
				<div id="work" class="page">

				</div>
				<div id="contact" class="page">
					<h2>Have a question?</h2>
					<form>
						<div>
							<label for="from">Your Email: </label>
							<input type="email" id="from" required />
						</div>
						<div>
							<label for="message" required >Inquiry: </label>
							<textarea id="message"></textarea>
						</div>
						<div>
							<input type="submit" value="Send Message" id="sendMessage" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">
		<% if @id %>
		<% end %>
		</script>
		<script type="text/javascript" src="/javascripts/scripts.js"></script>
	</body>
</html>