<div class="container">
  <form id="contactForm" class="column_3">
    <h2>Get in touch</h2>
    <input type="email" placeholder="your email address" />
    <textarea placeholder="your inquiry"></textarea>
    <input type="submit" value="send" />
  </form>
  <div class="column_3">
    <h2>What we're about</h2>
    <p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</p>
  </div>
  <div class="column_3 right">
    <h2>Raw Median Is</h2>
    <ul>
      <li><a href="#andrew">Andrew McCall</a></li>
      <li><a href="#tony">Tony Fabro</a></li>
      <li><a href="#taylor">Taylor Eke</a></li>
      <li><a href="#person">Other Person Name</a></li>
    </ul>
  </div>
</div>
