<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Inuqiry from, <%= @from %></h1>
    <%= simple_format(@message) %>
  </body>
</html>