//colors
$white: #ffffff;
$grey: #CFCBBE; 
// $blue: #006699; 
$blue: #2687B8; 
$lightblue: #8EDAFF;
$red: #840002;
$black: #1C1C1C;

//fonts
$gothicRegular:         'LeagueGothicRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$gothicCondensed:       'LeagueGothicCondensedRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$gothicItalic:          'LeagueGothicItalic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$gothicCondensedItalic: 'LeagueGothicCondensedItalic', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//breakpoints
$small-desktop: 1140px;
$tablet-wide: 900px;
$tablet-tall: 768px;
$phone-wide: 600px;
$phone-tall: 450px;
