<hr />

<nav>
  <a href="<%= blogs_path %>">
    &laquo; blog
  </a>
  <a href="<%= root_path %>" class="logo">
    Raw Median
  </a>
  <a href="<%= contact_path %>">
    contact &raquo;
  </a>
</nav>